.listing-photo {
  height: 600px;
  width: 50%;
  object-fit: cover;
  border-radius: 30px;
  float: right;
}

.info-container {
  height: 250px;
  width: 50%;
  object-fit: cover;
  justify-content: start;
  border-radius: 30px;
  float: left;
}

.video-container {
  height: 600px;
  width: 50%;
  float: right;
  border-radius: 30px;
  justify-content: end;
  overflow: hidden;
  margin-bottom: 10px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  justify-content: end;
}

.button-container {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 10px;
}

.listing-description{
  height: 600px;
  width: 50%;
  float: right;
  border-radius: 30px;
  width: 100%;
  margin-top: 10px;
  justify-content: left;
}

.listing-heading {
  font-size: 48pt;
  font-weight: bold;
  margin-bottom: 15px;
}

.listing-course {
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features > .section-heading {
  color: var(--secondary-color);
  font-size: 24pt;
  margin-bottom: 15px;
}

.listing-features {
  margin-bottom: 20px;
}

.listing-features li {
  font-size: 14pt;
}

li {
  list-style-type: none;
}

.listing-apply .section-heading {
  font-size: 18pt;
  margin-bottom: 15px;
}

label, input {
  display: block;
}

label {
  color: var(--secondary-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
}

input {
  font-size: 16pt;
  margin-bottom: 15px;
  padding: 10px;
  width: 400px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid .3px;
}

@media (max-width: 1024px) {
  .listing-photo, .video-container {
    width: 50%;
    height: 400px;
    justify-content: right;
  }
}

.course-list {
  margin-top: 20px;
}

.course-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.course-thumbnail {
  width: 100px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  filter: blur(2px);
}

.course-thumbnail-clear {
  width: 100px;
  height: 60px;
  object-fit: cover;
  margin-right: 10px;
  filter: none;
}

.course-info h3 {
  margin: 0;
  font-size: 16pt;
}

.course-info p {
  margin: 0;
  font-size: 12pt;
  color: var(--secondary-color);
}



.custom-button {
  margin: 0 10px;
}
