<div mat-dialog-content *ngIf="!isPaymentCompleted">
  <h2 mat-dialog-title>Pay for {{ data.course.title }}</h2>
  <p>Price: {{ data.course.price}}</p>
  <!-- <mat-slider min="0" max="100" step="1" showTickMarks discrete>
    <input matSliderThumb [(ngModel)]="selectedTokenAmount">
  </mat-slider>
  <p>Final price 💰: {{ selectedTokenAmount + data.course.price }}</p>
  <p>Possible reward 🎉: {{ selectedTokenAmount * 0.1 }}</p>
  <p>Possible penalty 😰: {{ selectedTokenAmount * 0.05 }}</p> -->

<mat-form-field>
  <mat-label>PublicKey</mat-label>
  <!-- <input matInput [(ngModel)]="PublicKey" /> -->
    <input matInput />

</mat-form-field>
<mat-form-field>
  <mat-label>Email</mat-label>
  <!-- <input matInput [(ngModel)]="email" /> -->
    <input matInput />

</mat-form-field>
</div>
<div mat-dialog-actions *ngIf="!isPaymentCompleted">
  <button mat-button (click)="connectWalletLogin()">Connect Wallet</button>
  <button mat-button (click)="onPayClick()" cdkFocusInitial>Pay</button>
</div>
<div mat-dialog-actions *ngIf="isPaymentCompleted">
  <div class="thank-you-container">
    <h1>Thank You for Your Payment!</h1>
    <p class="highlight">Invest in yourself by staking tokens to unlock more benefits! 🚀</p>
  
    <h3>Choose the amount of tokens to stake:</h3>
    <mat-slider min="0" max="100" step="1" showTickMarks discrete>
        <input matSliderThumb [(ngModel)]="selectedTokenAmount">
      </mat-slider>
    <p>Selected Token Amount: {{ selectedTokenAmount }}</p>
    <button mat-button (click)="onStakeClick()" cdkFocusInitial>Stake Tokens</button>
  </div>
</div>

<input type="hidden" id="login-wallet" class="input-field" placeholder="Wallet Public Key">