<h2 mat-dialog-title>Pay for {{ data.course.title }}</h2>
<div mat-dialog-content>
  <p>Price: {{ data.course.price}}</p>
</div>
<mat-form-field>
  <mat-label>PublicKey</mat-label>
  <!-- <input matInput [(ngModel)]="PublicKey" /> -->
    <input matInput />

</mat-form-field>
<mat-form-field>
  <mat-label>Email</mat-label>
  <!-- <input matInput [(ngModel)]="email" /> -->
    <input matInput />

</mat-form-field>
<button mat-button (click)="connectWalletLogin()">Connect Wallet</button>
<mat-dialog-actions>
  <button mat-button (click)="onPayClick()" cdkFocusInitial>Pay</button>
</mat-dialog-actions>
<input type="hidden" id="login-wallet" class="input-field" placeholder="Wallet Public Key">