/* payment-dialog.component.scss */
.mat-dialog-content {
    padding: 20px;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-cente;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* opzionale, aggiunge uno spazio sopra il pulsante */
  }
  
  mat-slider {
    width: 100%;
  }
  
  p {
    margin: 10px 0;
  }
  