<!-- thank-you-page.component.html -->
<div class="thank-you-container">
    <h1>CONGRATULATION!</h1>
    <p>🚀 You have successfully completed the course! 🚀</p>
    <p class="highlight"> Here your reward {{ reward() }} </p>
    <h3>See you Soon</h3>
    <!--<mat-slider min="0" max="100" step="1" showTickMarks discrete>
        <input matSliderThumb [(ngModel)]="selectedTokenAmount">
      </mat-slider>
    <p>Selected Token Amount: {{ selectedTokenAmount }}</p>-->
    <button mat-button (click)="onStakeClick()" class="stake-button">Home</button>
  </div>
  